<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome (icons)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!--Font(Links de tipografias)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;800&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=League+Spartan:wght@200;400;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Used Fashion</title>
    <link rel="shortcut icon" href="/img/Logo.png" type="image/x-icon">
</head>

<body>

    <header>
        <nav>
            <div class="nav-mobile">
                <i class="fa-solid fa-bars"></i>
                <img class="header-logo" src="/img/Logo.png" alt="Logo de la marca">
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-user"></i>
                </div>
                <form>
                    <label>
                        <input type="text" placeholder="Buscar...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </form>
            </div>
            <div class="nav-md-lg">
                <img class="header-logo" src="/img/Logo.png" alt="Logo de la marca">
                <ul class="nav-bar">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#" class="vende">Vendé tu Ropa</a></li>
                </ul>
                <form>
                    <label>
                        <input type="text" placeholder="Buscar...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </form>
                <ul class="login-bar">
                    <li><a href="#">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#">Registro</a></li>
                    <li><a href="#">Iniciar Sesion</a></li>
                </ul>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="carrusel">
            <a class="container-img">
                <div>
                    <!-- <i class="fa-solid fa-chevron-left"></i> -->
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    <img class="img-carrusel" src="/img/anastase-maragos-HyvE5SiKMUs-unsplash.jpg" alt="Ropa Deportiva">
                    <div class="text-carrusel">
                        <h3>Ropa Deportiva</h3>
                        <p>Bajada del Producto</p>
                        <span>30% OFF</span>
                        <span>XXXXXX</span>
                    </div>
                    <div class="circles">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </a>
            <!-- <a class="container-img">
                <div>
                    <img class="img-carrusel" src="" alt="Ropa Casual">
                    <h3>Ropa Casual</h3>
                    <p>Bajada del Producto</p>
                </div>
            </a> -->
            <!-- <a class="container-img">
                <div>
                    <img class="img-carrusel" src="" alt="Alta Costura">
                    <h3>Alta Costura</h3>
                    <p>Bajada del Producto</p>
                </div>
            </a> -->
        </section>
        <section class="filtro">
            <h2>¿Qué andás buscando?</h2>
            <div class="container-secciones">
                <a href="#" class="seccion">
                    <img src="/img/remeras-filtro.jpg" alt="">
                </a>
                <a href="#" class="seccion">
                    <img src="/img/pantalones-filtro.jpg" alt="">
                </a>
                <a href="#" class="seccion">
                    <img src="/img/zapatillas-filtro.jpg" alt="">
                </a>
                <a href="#" class="seccion">
                    <img src="/img/accesorios-filtro.jpg" alt="">
                </a>
            </div>
        </section>
        <h3 class="texto">Lo último que llegó</h3>
        <section class="contenedor-padre">
            <article class="card">
                <div class="name-product">
                    <p>Campera Reebok Negra</p>
                </div>
                <img class="contenedor-img" src="/img/campera-reebok-essentials-linear-logo-negra.jpg"
                    alt="Campera Reebok Negra">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <div class="cuerpo">
                    <h3>$12.000,00</h3>
                    <p>Talle: XL</p>
                </div>
                <div class="pie">
                    <button class="button"><a href="#">ver más</a></button>
                </div>
                <i class="fa-solid fa-truck-fast"></i>
            </article>

            <article class="card">
                <div class="name-product">
                    <p>Buzo Nike Retro Verde</p>
                </div>

                <img class="contenedor-img" src="/img/buzo-Nike-Verde.jpg" alt="Buzo nike Retro Verde">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <div class="cuerpo">
                    <h3>$5.000,00</h3>
                    <p>Talle: L</p>
                </div>
                <div class="pie">
                    <button class="button"><a href="#">ver más</a></button>
                </div>
                <i class="fa-solid fa-truck-fast"></i>
            </article>

            <article class="card">
                <div class="name-product">
                    <p>Pantalon Cargo Verde </p>
                </div>
                <img class="contenedor-img" src="/img/Pantalon-Cargo-Verde.jpg" alt="Pantalon Cargo Verde">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <div class="cuerpo">
                    <h3>$8.500,00</h3>
                    <p>Talle: M </p>
                </div>
                <div class="pie">
                    <button class="button"><a href="#">ver más</a></button>
                </div>
                <i class="fa-solid fa-truck-fast"></i>
            </article>

            <article class="card">
                <div class="name-product">
                    <p>Remera deL inter de miami </p>
                </div>

                <img class="contenedor-img" src="/img/remera-inter.png" alt="Pantalon Cargo Verde">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <div class="cuerpo">
                    <h3>$10.500,00</h3>
                    <p>Talle: S </p>
                </div>
                <div class="pie">
                    <button class="button"><a href="#">ver más</a></button>
                </div>
                <i class="fa-solid fa-truck-fast"></i>
            </article>
        </section>
    </main>

    <footer id="footer">
        <div>
            <h2>Categorias</h2>
            <ul>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Infantil</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Calzado</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </div>
        <div>
            <h2>Acerca de</h2>
            <ul>
                <li><a href="#">Used Fashion</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Politica de privacidad</a></li>
            </ul>
        </div>
        <div class="logo-footer-container">
            <img class="logo-footer" src="/img/Logo.png" alt="Logo de Marca">
        </div>
        <div>
            <h2>Contacto</h2>
            <ul>
                <li>Telefono de Contacto: 388-1234567</li>
                <li>Email: usedfashion@gmail.com</li>
                <li>Direccion: Calle Cualquiera N°123,San salvador de Jujuy, Jujuy</li>
            </ul>
        </div>
        <div class="container-sociales">
            <h2>Seguinos</h2>
            <ul class="redes-sociales">
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>