:root {
    --amarillo-naranja: #FA9500;
    --naranja: #EB6424;
}

article div p {
    color: #eee;
}

.carrusel .container-img {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
}

.carrusel .container-img .img-carrusel {
    width: 100%;
}

.carrusel .container-img div .circles {
    position: absolute;
    left: 530px;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    display: none;
}

.carrusel .container-img div .circles div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #555;
}

.circles {
    width: 8px;
    border-radius: 50%;
}


.filtro {
    width: 100%;
    padding: 5vh 3vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    text-align: center;
}

.filtro h2 {
    width: 100%;
    color: #eee;
    font-size: 2rem;
}

.container-secciones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-secciones .seccion {
    margin: auto;
    width: 60%;
}

.container-secciones .seccion img {
    border: solid 1px #eee;
    width: 100%;
}

.contenedor-img {
    margin: 10px;
    width: 250px;
    height: 250px;
    text-align: center;

}

.button:hover {
    opacity: 0.7;
}

.button a {
    text-decoration: none;
    color: white;

}

.button:hover,
a:hover {
    opacity: 0.9;
}

.titulo-seccion {
    width: 100%;
    margin: .5rem;

    text-align: center;
    font-size: 36px;
    font-weight: 600;

    color: #333;
}

.contenedor-padre {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.card {
    position: relative;
    padding: 20px;
    width: 280px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-decoration: none;
}

.card img {
    width: 100%;
}

.card__title {
    font-weight: 600;
    font-size: 18px;
    color: #222;
}

.card__subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #444;
    letter-spacing: 0.5px;
}

.card__price {
    font-weight: 600;
    font-size: 18px;
    color: #222;
}


@media (min-width: 768px) {
    main .carrusel .container-img div .img-carrusel {
        height: 380px;
    }

    .container-secciones {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container-secciones .seccion {
        width: 40%;
    }
}

@media (min-width:1024px) {
    main .carrusel .container-img div .img-carrusel {
        height: 500px;
    }

    .filtro {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 4rem;
    }

    .filtro h2 {
        width: 20%;
        font-size: 48px;
    }

    .container-secciones {
        width: 40%;
    }

    .container-secciones .seccion {
        width: 40%;
    }

    .texto {
        width: 90%;
    }
}

@media (min-width: 1280px) {
    main .carrusel .container-img div .img-carrusel {
        height: 660px;
    }
}