:root {
    --verde-claro: #BABD8D;
    --verde-oscuro: #7C6A0A;
    --amarillo-naranja: #FA9500;
    --naranja: #EB6424;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}


article div p{
    color:#666;
}

.carrusel {
    margin: 3vw 0;
    width: 100%;
    margin: 0 auto;
    font-family: 'DM Sans';
}

.carrusel .container-img {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
}

.carrusel .container-img .img-carrusel {
    width: 100%;
    height: 180px;
    object-fit: cover;
}



/* .carrusel .container-img div .fa-chevron-left {
    position: absolute;
    color: #000;
    text-shadow: 1px 1px 1px gold;
    font-size: 2rem;
    top: 270px;
    left: 30px;
    cursor: pointer;
}

.carrusel .container-img div .fa-chevron-right {
    position: absolute;
    color: #000;
    text-shadow: 1px 1px 1px gold;
    font-size: 2rem;
    top: 270px;
    right: 30px;
    cursor: pointer;
} */

.carrusel .container-img div .circles {
    position: absolute;
    left: 530px;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    display: none;
}

.carrusel .container-img div .circles div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #555;
}

.circles{
    width:8px;
    border-radius: 50%;
}


.filtro {
    width: 100%;
    padding: 5vh 3vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    text-align: center;
}

.filtro h2 {
    width: 100%;
    color: var(--amarillo-naranja);
    font-size: 2rem;
}

.texto {
    width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 8vw;
    color: #333;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.container-secciones{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}

.container-secciones .seccion{
    margin: auto;
    width: 60%;
}

.container-secciones .seccion img{
    border: solid 1px var(--amarillo-naranja);
    width: 100%;
}

.contenedor-padre {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 3vh;
    justify-content: space-evenly;
}

.contenedor-padre .card .name-product {
    background: #333;
    padding: 2vw;
    color: #fff;
    border-radius: 15px 15px 1px 1px;
}

.contenedor-img {
    margin: 10px;
    width: 250px;
    height: 250px;
    text-align: center;

}
.carousel-indicators button {
    font-size:10px;
    font-weight:normal;
    text-align: center;
    width:15px;
    height:10px;
    background-color:#444;
    margin: 2px;
    padding:5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:10px;
    line-height:29px;
    text-transform: uppercase;
  

}
.carousel-indicators button:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
.card{
    background-color: white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:15px;
    position: relative;
}

.cuerpo{
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.button:hover {
    opacity: 0.7;
}
.button a {
    text-decoration: none;
    color: white;
      
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: #fff;
    background-color: var(--naranja);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius:0 0 15px 15px;

}

.button:hover, a:hover {
    opacity: 0.9;
}

.contenedor-padre .card i {
    padding: 2vw;
    border-radius: 50%;
    font-size: 1.3rem;
    position: absolute;
    right: 2px;
    bottom: 100px;
    transform: scaleX(-1) rotate(-45deg);
    background: var(--amarillo-naranja);
}




@media (min-width: 768px){
    main .carrusel .container-img div .img-carrusel {
        height: 380px;
    }
    .container-secciones{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-secciones .seccion{
        width:40%;
    }
}

@media (min-width:1024px){
    main .carrusel .container-img div .img-carrusel {
        height: 500px;
    }
    .filtro{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 4rem;
    }
    .filtro h2{
        width: 20%;
        font-size: 48px;
    }
    .container-secciones{
        width: 40%;
    }
    .container-secciones .seccion{
        width:40%;
    }
}

@media (min-width: 1280px ) {
    main .carrusel .container-img div .img-carrusel {
        height: 660px;
    }
}