<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{titulo:'Tienda-UserFashion',css:'index'})%>

<body>
    <%- include("partials/header.ejs") %>
        <main>

            <section class="carrusel">
                <a class="container-img">
                    <div>
                        <img class="img-carrusel" src="/img/banner-op2.png" alt="Ropa Deportiva">
                    </div>
                </a>
            </section>

            <section class="filtro">
                <h2>¿Qué andás buscando?</h2>
                <div class="container-secciones">
                    <a href="#" class="seccion">
                        <img src="/img/remeras-filtro.jpg" alt="">
                    </a>
                    <a href="#" class="seccion">
                        <img src="/img/pantalones-filtro.jpg" alt="">
                    </a>
                    <a href="#" class="seccion">
                        <img src="/img/zapatillas-filtro.jpg" alt="">
                    </a>
                    <a href="#" class="seccion">
                        <img src="/img/accesorios-filtro.jpg" alt="">
                    </a>
                </div>
            </section>

            <section class="contenedor-padre">
                <h3 class="titulo-seccion">Lo último que llegó</h3>
                <% for (product of products) { %> 
                    <%- include("partials/article-card.ejs",{product:product}) %>
                <% } %>
            </section>

        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>