<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome (icons)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!--Font(Links de tipografias)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=League+Spartan:wght@200;400;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Used Fashion</title>
    <link rel="shortcut icon" href="/img/Logo.png" type="image/x-icon">
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>

            <section class="carrusel">
                <a class="container-img">
                    <div>
                        <img class="img-carrusel" src="/img/banner-carrousel.jpg" alt="Ropa Deportiva">
                    </div>
                </a>
            </section>

            <section class="filtro">
                <h2>¿Qué andás buscando?</h2>
                <div class="container-secciones">
                    <a href="#" class="seccion">
                        <img src="/img/remeras-filtro.jpg" alt="">
                    </a>
                    <a href="#" class="seccion">
                        <img src="/img/pantalones-filtro.jpg" alt="">
                    </a>
                    <a href="#" class="seccion">
                        <img src="/img/zapatillas-filtro.jpg" alt="">
                    </a>
                    <a href="#" class="seccion">
                        <img src="/img/accesorios-filtro.jpg" alt="">
                    </a>
                </div>
            </section>

            <section class="contenedor-padre">
                <h3 class="titulo-seccion">Lo último que llegó</h3>
                <% for (let i=0; i < 4; i++) { %>
                    <%- include("partials/article-card.ejs") %>
                        <% } %>
            </section>

        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>