<!-- <article class="card">
    <div class="name-product">
        <p>Campera Reebok Negra</p>
    </div>
    <img class="contenedor-img" src="/img/campera-reebok-essentials-linear-logo-negra.jpg"
        alt="Campera Reebok Negra">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    <div class="cuerpo">
        <h3>$12.000,00</h3>
        <p>Talle: XL</p>
    </div>
    <div class="pie">
        <button class="button"><a href="#">ver más</a></button>
    </div>
    <i class="fa-solid fa-truck-fast"></i>
</article> -->

<article>
    <a href="/product/item" class="card">
        <img class="contenedor-img" src="/img/campera-reebok-essentials-linear-logo-negra.jpg" alt="Campera Reebok Negra">
        <div class="card__title">Campera Reebok Negra</div>
        <div class="card__subtitle">Talle: L</div>
        <div class="card__price">$9999</div>
    </a>

</article>