<article>
    <a href="/product/item" class="card">
        <img class="contenedor-img" src="/img/products/<%=product.imagen%>" alt="Campera Reebok Negra">
        
        <div class="card__price">$<%=product.precio%></div>
        <div class="card__title"><%=product.nombreProd%></div>
        <div class="card__subtitle"><%=product.talle%></div>
    </a>

</article>