<article>
    <a href="/product/item" class="card">
        <img class="contenedor-img" src="/img/campera-reebok-essentials-linear-logo-negra.jpg" alt="Campera Reebok Negra">
        
        <div class="card__price">$9999</div>
        <div class="card__title">Campera Reebok Negra</div>
        <div class="card__subtitle">Talle: L</div>
    </a>

</article>