<footer id="footer">
    <div>
        <h2>Categorias</h2>
        <ul>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Infantil</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Calzado</a></li>
            <li><a href="#">Ofertas</a></li>
        </ul>
    </div>
    <div>
        <h2>Acerca de</h2>
        <ul>
            <li><a href="#">Used Fashion</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Politica de privacidad</a></li>
        </ul>
    </div>
    <div class="logo-footer-container">
        <img class="logo-footer" src="/img/Logo.png" alt="Logo de Marca">
    </div>
    <div>
        <h2>Contacto</h2>
        <ul>
            <li>Telefono de Contacto: 388-1234567</li>
            <li>Email: usedfashion@gmail.com</li>
            <li>Direccion: Calle Cualquiera N°123,San salvador de Jujuy, Jujuy</li>
        </ul>
    </div>
    <div class="container-sociales">
        <h2>Seguinos</h2>
        <ul class="redes-sociales">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
    </div>
</footer>