<header>
    <nav>
        <div class="nav-mobile">
            <i class="fa-solid fa-bars"></i>
            <img class="header-logo" src="/img/Logo.png" alt="Logo de la marca">
            <div>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>
            <form>
                <label>
                    <input type="text" placeholder="Buscar...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </form>
        </div>
        <div class="nav-md-lg">
            <img class="header-logo" src="/img/Logo.png" alt="Logo de la marca">
            <ul class="nav-bar">
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#" class="vende">Vendé tu Ropa</a></li>
            </ul>
            <form>
                <label>
                    <input type="text" placeholder="Buscar...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </form>
            <ul class="login-bar">
                <li><a href="#">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Iniciar Sesion</a></li>
            </ul>
            <div>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </nav>
</header>