<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>
      
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="container">
            <div class="title-form">
                <div class="labels">
                    <p>Nombre del Producto</p>
                    <p>Precio</p>
                    <p>Categoria</p>
                    <p>Estado</p>
                    <p>Talle</p>
                    <p>Color</p>
                    <p>Marca</p>
                    <p>Cantidad</p>
                </div>
                <form>
                    <input type="text" placeholder="Nombre del Producto">
                    <input type="text" placeholder="Precio">
                    <select name="categoria">
                        <option value="">Seleccionar categoria</option>
                        <option value="remera">Remera</option>
                        <option value="campera">Campera</option>
                        <option value="pantalon">Pantal칩n</option>
                        <option value="zapatillas">Zapatillas</option>
                        <option value="accesorios">Accesorios</option>
                    </select>
                      <select name="estado">
                          <option value="">Seleccionar estado del producto</option>
                          <option value="Nuevo">Nuevo</option>
                          <option value="Usada">Nuevo</option>
                          <option value="Semi-nuevo">Semi-nuevo</option>
                        </select>
                        <input type="text" placeholder="Talle">
                        <input type="text" placeholder="Color">
                        <input type="text" placeholder="Marca (opcional)">
                        <input type="text" placeholder="Cantidad">
                    </form>
                    
                </div>
                <div class="img-product-add">
                    <h2>Imagen del Producto</h2>
                    <div class="add-img">
                        <p>Haz click para a침adir imagenes</p>
                        <input type="file" class="custom-file-input">
                    </div>
                    <p>Descripci칩n</p>
                <textarea name="descripcion" placeholder="Descripci칩n"></textarea>
            </div>
            <div class="btns">
                <button class="cargar">Cargar producto</button>
                <button class="modificar">Modificar producto</button>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>