<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/createProduct.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>Tu Carrito - Used Fashion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=League+Spartan:wght@200;400;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="container">
            <div class="title-form">
                <div class="labels">
                    <p>Nombre del Producto</p>
                    <p>Precio</p>
                    <p>Categoria</p>
                    <p>Estado</p>
                    <p>Talle</p>
                    <p>Color</p>
                    <p>Marca</p>
                    <p>Cantidad</p>
                </div>
                <form>
                    <input type="text" placeholder="Nombre del Producto">
                    <input type="text" placeholder="Precio">
                    <select name="categoria">
                        <option value="">Seleccionar categoria</option>
                        <option value="remera">Remera</option>
                        <option value="campera">Campera</option>
                        <option value="pantalon">Pantal칩n</option>
                        <option value="zapatillas">Zapatillas</option>
                        <option value="accesorios">Accesorios</option>
                    </select>
                      <select name="estado">
                          <option value="">Seleccionar estado del producto</option>
                          <option value="Nuevo">Nuevo</option>
                          <option value="Usada">Nuevo</option>
                          <option value="Semi-nuevo">Semi-nuevo</option>
                        </select>
                        <input type="text" placeholder="Talle">
                        <input type="text" placeholder="Color">
                        <input type="text" placeholder="Marca (opcional)">
                        <input type="text" placeholder="Cantidad">
                    </form>
                    
                </div>
                <div class="img-product-add">
                    <h2>Imagen del Producto</h2>
                    <div class="add-img">
                        <p>Haz click para a침adir imagenes</p>
                        <input type="file" class="custom-file-input">
                    </div>
                    <p>Descripci칩n</p>
                <textarea name="descripcion" placeholder="Descripci칩n"></textarea>
            </div>
            <div class="btns">
                <button class="cargar">Cargar producto</button>
                <button class="modificar">Modificar producto</button>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>