<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>
  
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h1>Tus productos</h1>
        <a class="boton-primario centrado" href="myProducts/createProduct">
            <i class="fa-solid fa-plus"></i>
             Vender un Producto Nuevo
        </a>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>