<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/myProducts.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=League+Spartan:wght@200;400;800&display=swap" rel="stylesheet">
        
    <title>Mis productos - Used Fashion</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h1>Tus productos</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Producto</th>
                        <th>Fecha de subida</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>01</td> -->
                        <td>Remera</td>
                        <td>27/08/2023</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>