<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>
  
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h1>Tus productos</h1>
        <a class="boton-primario centrado" href="myProducts/createProduct">
            <i class="fa-solid fa-plus"></i>
             Vender un Producto Nuevo
        </a>
        <% for (let i=0; i < 6; i++) { %>
            <%- include("../partials/user-product.ejs") %>
        <% } %>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>